.tail{
	width:1000px;
	height: auto;
	position:relative;
	left:50%;
	margin-left:-500px;
	margin-top:5px;
	background-color: #F1FEDD;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	o-border-radius:5px;
	border-radius:5px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.tail .link{
	text-align: center;
}
.tail .link a{
	font-size:12px;
	text-decoration: none;
	color:rgb(100,100,100);
}
.tail .link a:HOVER {
	text-decoration: underline;
}
.tail .label{
	color:rgb(50,50,50);
	margin-top:5px;
	text-align: center;
	font-size:12px;
}